@import url();

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYeG-b8A0LM5JCLU98QK6RepIYkXIeNnrq0Q&usqp=CAU);
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: fit-content;
}

h1{

}

a {
    
}

.route {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: navy;
    cursor: pointer;
    margin: 5px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.route:hover {
    color: cyan;
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

ul {

}

li {
    text-align: center;
    width: 125%;
    background-size: 300% 100%;
    border-radius: 10px;
    transition: all .6s ease-in-out;
    background-image: linear-gradient(to right, grey, cyan);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

li:hover {
    background-position: 100% 0;
    transition: all .6s ease-in-out;
    background-image: linear-gradient(to right, cyan, grey);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

li a {
    color: navy;
    transition: all .6s ease-in-out;
}

li a:hover {
    color: cyan;
    transition: all .6s ease-in-out;
}

input[type=text] {

}

input[type=submit] {

}

input:hover {
    
}

.post {
    display: flex;
    justify-content: left;
    background-image: linear-gradient(to right, grey, cyan);
    border-radius: 2px;
    padding: 2px;
}

.name {
    color: cyan;
}

.delete {
    width: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 17px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.delete:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}